body {
    background-color: #fe8000;
}
#wrapper {
    width: 90%;
    margin: auto;
    margin-top: 6%;
}
#title {
    margin-bottom: 4%;
}
#questions {
    margin-bottom: 3%;
    color: #ffffff;
}
button {
    border: solid #e7e7e7 1px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 21px;
    margin: 1%;
    width: 40%;
}
button:hover {
    background-color: #4CAF50;
}